* {
    background-color: lightcyan;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: black;
    font-style: oblique;
    max-width: 100%;
}

#timer {
    padding-right: 5px;
    font-style: oblique;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}

.underh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

h2 {
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-size: 30px;
    padding-left: 40px;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.start-button {
    background-color: purple;
    border-radius: 12px;
    font-size: 30px;
    color: white;
    padding: 20px;
    margin: 4px 2px;
    display: flex;
}

.start-button:hover {
    background-color: rgb(136, 89, 136);
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    border-radius: 12px;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin: 4px 2px; 
}

a:link {
    text-decoration: none;
}

input:hover {
    background-color: rgb(136, 89, 136);
}


#back {
    background-color: purple;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    padding: 15px;
    margin: 4px 2px;
    display: flex;
}

#back:hover {
    background-color: rgb(136, 89, 136);
}

#clear {
    background-color: purple;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    padding: 15px;
    margin: 4px 2px;
    display: flex;
}

#clear:hover {
    background-color: rgb(136, 89, 136);
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#initials {
    background-color: azure;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: black;
}

#submit {
    background-color: purple;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    padding: 15px;
    margin: 4px 2px;
    display: flex;
}

#quiz {
    text-align: center;
    margin: 2rem 30rem;
}

.userInit {
    font-size: 20px;
}

button {
    background-color: purple;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    padding: 20px;
    margin: 4px 2px;
    display: flex;
    max-width: 300px;
    
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 25%;
    
}

button:hover {
    background-color: rgb(136, 89, 136);
}

@media (max-width: 912px) {
    nav {
        font-size: 1.5rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }

    #quiz {
        font-size: 1.5rem;
        display: flex;
        display: inline;
    }
}

@media (max-width: 390px) {
    nav {
        font-size: 1rem;
        margin: 8px 0px 0px 0px;
        padding: 8px 12px;
    }

    #quiz {
        font-size: 1rem;
        display: flex;
        display: inline;
    }
}